apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-cloud-env
  labels:
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
data:
  {{ if eq .Values.global.secrets.aws.enable true -}}
  CLOUD_NAME: AWS
  {{ if eq .Values.global.secrets.aws.use_iam_role false -}}
  AWS_ACCESS_KEY_ID: {{ .Values.global.secrets.aws.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.global.secrets.aws.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: {{ .Values.global.secrets.aws.AWS_DEFAULT_REGION }}
  SINK_TYPE: {{ .Values.global.secrets.aws.SINK_TYPE }}
  {{- end }}
  {{ else if eq .Values.global.secrets.gcs.enable true -}}
  CLOUD_NAME: GCP
  GCP_DEFAULT_REGION: {{ .Values.global.secrets.gcs.GCP_DEFAULT_REGION }}
  GCP_DEFAULT_ZONE: {{ .Values.global.secrets.gcs.GCP_DEFAULT_ZONE }}
  {{ else if eq .Values.global.secrets.azure.enable true -}}
  CLOUD_NAME: AZURE
  STORAGE_ACCOUNT_ACCESS_KEY: {{ .Values.global.secrets.azure.STORAGE_ACCOUNT_ACCESS_KEY }}
  STORAGE_ACCOUNT_NAME: {{ .Values.global.secrets.azure.STORAGE_ACCOUNT_NAME }}
  SINK_TYPE: {{ .Values.global.secrets.azure.SINK_TYPE }}
  AZURE_SERVICEBUS_CONNECTION_STR: {{ .Values.global.secrets.azure.AZURE_SERVICEBUS_CONNECTION_STR }}
  AZURE_SERVICEBUS_QUEUE_NAME: {{ .Values.global.secrets.azure.AZURE_SERVICEBUS_QUEUE_NAME }}
  {{- else -}}
  CLOUD_NAME: UNKNOWN
  {{- end }}
